<div class="category-contant">
  <ul fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly center">
      <li fxLayout="column"><a class="no-brd" [routerLink]="['/home/products/all']"><i class="material-icons">dehaze</i>Show All</a></li>
      <li fxLayout="column"><a [routerLink]="['/home/products/Épicerie']"><i class="material-icons">Épicerie</i> Épicerie</a></li>
      <li fxLayout="column"><a [routerLink]="['/home/products/FROMAGE']"><i class="material-icons">FROMAGE</i>FROMAGE</a></li>
      <li><a [routerLink]="['/home/products/PAINS']"><i class="material-icons">PAINS</i>PAINS</a></li>

  </ul>
</div>
